In [2]:
import pandas as pd
from ast import literal_eval

In [4]:
movies_metadata = pd.read_csv("data/movies_metadata.csv")
links_small = pd.read_csv("data/links_small.csv")
movies_keywords = pd.read_csv("data/keywords.csv")

C:\Users\Admin\AppData\Local\Temp\ipykernel_21984\2417491277.py:1: DtypeWarning: Columns (10) have mixed types. Specify dtype option on import or set low_memory=False.
  movies_metadata = pd.read_csv("data/movies_metadata.csv")

In [9]:
links_small.head()

   movieId  imdbId   tmdbId
0        1  114709    862.0
1        2  113497   8844.0
2        3  113228  15602.0
3        4  114885  31357.0
4        5  113041  11862.0

In [10]:
links_small.shape
links_small = links_small[links_small['tmdbId'].notnull()]['tmdbId'].astype('int')
movies_metadata = movies_metadata[movies_metadata['id'].isin(links_small.astype('str'))]

In [12]:
movies_metadata.head()
# ['id','title','genres','popularity','release_date']

movies = movies_metadata[['id','title','genres','popularity','release_date']]

In [13]:
movies

,id,title,genres,popularity,release_date
0,862,Toy Story,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",21.946943,1995-10-30
1,8844,Jumanji,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",17.015539,1995-12-15
2,15602,Grumpier Old Men,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",11.7129,1995-12-22
3,31357,Waiting to Exhale,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",3.859495,1995-12-22
4,11862,Father of the Bride Part II,"[{'id': 35, 'name': 'Comedy'}]",8.387519,1995-02-10
...,...,...,...,...,...
40224,315011,Shin Godzilla,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",9.285519,2016-07-29
40503,391698,The Beatles: Eight Days a Week - The Touring Y...,"[{'id': 99, 'name': 'Documentary'}, {'id': 104...",7.078301,2016-09-15
44821,10991,Pokémon: Spell of the Unknown,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",6.480376,2000-07-08
44826,12600,Pokémon 4Ever: Celebi - Voice of the Forest,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",6.080108,2001-07-06
45265,265189,Force Majeure,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",12.165685,2014-08-15

In [15]:
movies_keywords.shape
movies_keywords.head()

      id                                           keywords
0    862  [{'id': 931, 'name': 'jealousy'}, {'id': 4290,...
1   8844  [{'id': 10090, 'name': 'board game'}, {'id': 1...
2  15602  [{'id': 1495, 'name': 'fishing'}, {'id': 12392...
3  31357  [{'id': 818, 'name': 'based on novel'}, {'id':...
4  11862  [{'id': 1009, 'name': 'baby'}, {'id': 1599, 'n...

In [20]:
# movies['id']
# movies_keywords['id'] = movies_keywords['id'].astype('str')
# movies_keywords['id']

movies = movies.merge(movies_keywords,on='id')

In [21]:
movies.head()

,id,title,genres,popularity,release_date,keywords
0,862,Toy Story,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",21.946943,1995-10-30,"[{'id': 931, 'name': 'jealousy'}, {'id': 4290,..."
1,8844,Jumanji,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",17.015539,1995-12-15,"[{'id': 10090, 'name': 'board game'}, {'id': 1..."
2,15602,Grumpier Old Men,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",11.7129,1995-12-22,"[{'id': 1495, 'name': 'fishing'}, {'id': 12392..."
3,31357,Waiting to Exhale,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",3.859495,1995-12-22,"[{'id': 818, 'name': 'based on novel'}, {'id':..."
4,11862,Father of the Bride Part II,"[{'id': 35, 'name': 'Comedy'}]",8.387519,1995-02-10,"[{'id': 1009, 'name': 'baby'}, {'id': 1599, 'n..."

In [22]:
movies['genres'] = movies['genres'].fillna('[]') \
                    .apply(literal_eval) \
                    .apply(lambda x: sorted( i['name'] for i in x) if isinstance(x,list) else [])

In [23]:
movies['genres']

0                             [Animation, Comedy, Family]
1                            [Adventure, Family, Fantasy]
2                                       [Comedy, Romance]
3                                [Comedy, Drama, Romance]
4                                                [Comedy]
                              ...
9146      [Action, Adventure, Animation, Family, Fantasy]
9147    [Adventure, Animation, Family, Fantasy, Scienc...
9148    [Adventure, Animation, Family, Fantasy, Scienc...
9149                                      [Comedy, Drama]
9150                                      [Comedy, Drama]
Name: genres, Length: 9151, dtype: object

In [24]:
movies['keywords'] = movies['keywords'].fillna('[]') \
                    .apply(literal_eval) \
                    .apply(lambda x: sorted( i['name'] for i in x) if isinstance(x,list) else [])
movies['keywords']

0       [boy, boy next door, friends, friendship, jeal...
1       [based on children's book, board game, disappe...
2       [best friend, duringcreditsstinger, fishing, o...
3       [based on novel, chick flick, divorce, interra...
4       [aging, baby, confidence, contraception, daugh...
                              ...
9146    [anime, based on tv series, based on video gam...
9147                            [celebi, pokémon, sequel]
9148                            [celebi, pokémon, sequel]
9149    [avalanche, dark comedy, family vacation, fema...
9150    [avalanche, dark comedy, family vacation, fema...
Name: keywords, Length: 9151, dtype: object