### 함수
- def name(): // 함수생성
- name() //함수 호출

In [2]:
import random

def rand_add():
    a = random.randint(1,100)
    b = random.randint(1,100)
    answer = int(input(f'{a} + {b} = '))
    if answer == a+b:
        print("정답")
    else:
        print("오답")


rand_add()

정답

### List Comprehension (리스트 내포)
- [표현식 for 변수 in 반복]
- [표현식 for 변수 in 반복 if 조건]
- [참 if 조건 else 거짓 for 변수 in 반복]

In [3]:
a = [i for i in range(1,10,2)]
a

[1, 3, 5, 7, 9]

In [5]:
b = [i for i in range(1,21) if i%3 ==0]
b

[3, 6, 9, 12, 15, 18]

In [6]:
c = [x for x in [-2,-1,0,2,5] if x > 0]
c

[2, 5]

In [7]:
score=80
result = "합격" if score > 60 else "불합격"
print(result)

합격

In [9]:
nums = [95,60,70,40]
d = ["합격" if s >= 70 else "불합격" for s in nums]
d

['합격', '불합격', '합격', '불합격']

In [11]:
# labels = [i for i in range(1,11)]
labels = ["짝수" if i % 2 ==0 else "홀수" for i in range(1,11)]
labels

['홀수', '짝수', '홀수', '짝수', '홀수', '짝수', '홀수', '짝수', '홀수', '짝수']

In [12]:
names = ['han','kim','lee']
upper = [n.upper() for n in names]
upper

['HAN', 'KIM', 'LEE']

In [ ]:
for _ in range(6):
    print("크리스마스")

In [21]:
def sum(n:int):
    total = 0
    for a in range(1,n+1):
        # total = total + a
        total += a
    return total


print(sum(5))
print(sum(1000))

15
500500

In [22]:
def sum1(n:int):
    total=0
    a = 1
    while a<=n:
        total += a
        a += 1
    return total
print(sum1(5))

15

In [23]:
price = [1200,3000,4500,800]

for i in range(len(price)):
    price[i] = int(price[i] * 1.05)

print(price)

[1260, 3150, 4725, 840]

In [27]:
price1 = [1200,3000,4500,800]
price1 = [int(p*1.05) for p in price1]
print(price1)

[1260, 3150, 4725, 840]